.navLogin {
    color: #000;
    font-weight: 600;
    gap: 6px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.userLogo {
    display: inline-block;
    width: 18px;
    height: 15px;
}

.navLogin:hover {
    color: #1FAD1F;
}