.myPageContainer {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  gap: 48px;
}

.myPageContainer > Aside {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 118px;
}

.mainContent {
  width: 100%;
  padding: 20px;
  padding-top: 118px;
  background-color: #fff;
  overflow: auto;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  width: 100%;
  height: 200px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.bookContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  width: 100%;
  height: 144px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.BtnCompo {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 140px;
}

.BtnTwo {
  width: 140px;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  font-weight: 400;
  color: #1e7b1e;
  background-color: #f3fcf3;
  border: 1px solid #1fad1f;
}

.BtnThree {
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.BtnThree:hover {
  background-color: #eee;
}
.BtnThree:active {
  background-color: #ddd;
}

.BtnTwo:hover {
  background-color: #d6f5d6;
}
.BtnTwo:active {
  background-color: #adebad;
}

.userList {
  display: flex;
  align-items: center;
  gap: 24px;
}
.buylist {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 24px;
}

.menu {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
