.BtnCompo {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 24px;
  &:hover {
    cursor: pointer;
  }
}

.BtnOne {
  font-weight: 400;
  color: #fff;
  background-color: #1fad1f;
  border: none;
  &:hover {
    background-color: #209e20;
  }
  &:active {
    background-color: #1e7b1e;
  }
}

.BtnTwo {
  font-weight: 400;
  color: #1e7b1e;
  background-color: #f3fcf3;
  border: 1px solid #1fad1f;
  &:hover {
    background-color: #d6f5d6;
  }
  &:active {
    background-color: #adebad;
  }
}

.BtnThree {
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #ddd;
  }
}
