.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    height: 74px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
}

.logoPng {
    width: 100px;
}

.logo>h2 {
    margin-left: 40px;
}