.header {
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    height: 74px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
}

.logoPng {
    width: 100px;
}

.logo>h2 {
    margin-left: 40px;
}

.searchContainer {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
}

.searchForm {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 20vw;
    height: 40px;
    padding: 0 20px;
    font-weight: 500;
    background-color: #eee;
    border-radius: 30px;
    border: none;
    outline: none;
    resize: none;
}

.searchInput::placeholder {
    font-size: 12px;
}

.searchButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: auto;
    height: auto;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchLogo {
    width: 20px;
    height: 20px;
    cursor: pointer;
}